.aside-menu-container {
	background-color: var(--ui-root-color-hover);
	position: relative;
	width: 13rem;
	height: 100%;
}

.aside-menu-nodes-list {
	flex-grow: 1;
	height: 100%;
}

.aside-menu-resizer {
	box-shadow: 0 2px 3px var(--ui-root-color);
	transition: all var(--transition-very-fast) ease;
	width: 0.5rem;
	flex-shrink: 0;
	height: 100%;
	cursor: e-resize;
}

.aside-menu-resizer:active {
	transition: all var(--transition-very-fast) ease;
	background-color: var(--ui-root-color);
}

.aside-menu-nodes-list-empty {
	font-size: 1.25rem;
	height: 100%;
	padding: 0 1rem;
	color: white;
}

.aside-menu-nodes-list-empty > svg {
	flex-shrink: 0;
	width: 1.8rem;
}