.rflex-none-none-none {
	display: flex;
}

.rflex-center-center-none {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rflex-center-center-small {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--ui-flex-gap-small);
}

.rflex-center-center-medium {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--ui-flex-gap-medium);
}

.rflex-center-spacebetween-none {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cflex-none-none-small {
	display: flex;
	flex-direction: column;
	gap: var(--ui-flex-gap-small);
}